#-----------------------
# directories
#-----------------------
PHP-Parser/*
tests/*
old/*
#-----------------------
# files
#-----------------------
run_tests.php
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/yakpro-po.iml
